/* Estilos generales para el body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #ff4081, #6a1b9a); /* Fondo degradado suave */
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Estilos para el contenedor del formulario */
.form-container {
    background: rgba(0, 0, 0, 0.6); /* Fondo negro semi-transparente */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Título del formulario */
h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Estilos para los campos del formulario */
.form-editar {
    margin-bottom: 20px;
    text-align: left;
}

.form-editar label {
    color: #fff;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
}

.form-editar input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    outline: none;
    transition: background-color 0.3s;
}

.form-editar input:focus {
    background-color: #4CAF50; /* Cambio de color cuando el campo es enfocado */
}

/* Estilos para el botón "Guardar Cambios" */
.form-actions button {
    background-color: #ff4081;
    color: white;
    padding: 14px 28px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 100%;
}

.form-actions button:hover {
    background-color: #f50057;
    transform: translateY(-3px);
}

/* Estilos para el botón "Regresar" */
.button-regresar {
    background-color: #6a1b9a;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
    width: 100%;
}

.button-regresar:hover {
    background-color: #9c27b0;
    transform: translateY(-3px);
}
